/* Centered text */
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'kelmscottromanregular';
    src: url('../fonts/kelmscot/KELMSCOT-webfont.eot');
    src: url('../fonts/kelmscot/KELMSCOT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelmscot/KELMSCOT-webfont.woff') format('woff'),
         url('../fonts/kelmscot/KELMSCOT-webfont.ttf') format('truetype'),
         url('../fonts/kelmscot/KELMSCOT-webfont.svg#kelmscottromanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.dropdown-item {
	font-family: kelmscottromanregular !important;
	font-size: x-large;
}

.logo {
	height:   35px;
}
/* CSS used here will be applied after bootstrap.css */
.navbar-default{
  background:rgba(0, 0, 0, 0.60);
  }
#navbar {
background-color: rgba(0,0,0,0);
  position: relative;
z-index: 202020;
font-family: kelmscottromanregular !important;
margin-top: 0.5%;
}
.the-navbar {
background-color: rgba(0,0,0,0);
  position:fixed;
border-color: #000;
  z-index: 202020;
  width: 100%;
}

.the-blur{
   	position: fixed;
  top:0;
    width: 100%;
  min-height: 50px;
margin-bottom: 20px;
    background: rgba(0,0,0,.4);
  z-index:1010;
  -webkit-filter: blur(20px);
-moz-filter: blur(20px);
-o-filter: blur(20px);
-ms-filter: blur(20px);
filter: blur(20px);
  }

h3 {
text-shadow: 1px 0px 22px #000;
}

#Presentation {
	font-family: kelmscottromanregular !important;
  	font-size: large;
  	text-align: center;
  	border: 2px #424242 ridge;
}

#Classes {

	background-color: #FFF;
	font-family: kelmscottromanregular !important;
  	font-size: large;
  	text-align: center;
  	border: 2px #424242 ridge;
}

#Equipe {
  font-family: kelmscottromanregular !important;
    font-size: large;
    text-align: center;
    border: 2px #424242 ridge;
}

.backfd {
	position: absolute !important;
	z-index: -1 !important;
}

.logo_typo {
	/*background-image: url(../img/logo/aelina_online_flyff_typo_black.png);*/
	z-index: 0 !important;
	position: relative !important;
	margin-left: 40% !important;

}

.logo_fond {
	display:block;
	z-index: 1 !important;
	position: absolute !important;
	margin-top: 10%;

}

#Map {
	font-family: kelmscottromanregular !important;
  	font-size: large;
  	text-align: center;
  	border: 2px #424242 ridge;
	margin-top: -1px;
}

strong {
	font-weight: bold;
}

.titre {
  	font-weight: normal;
  	font-size: x-large;
  	font-style: oblique;
}

.footer {
  padding-top: 0px !important;
  background-image: url(../img/16614-wallpaperFlyff_10282.jpg);
  border-color: #000;
}

.footer_trp {
  background-color: rgba(0,0,0,0.6);
  opacity: 1;
  font-family: kelmscottromanregular !important;
}

.team {
  padding-top: 0px !important;
  background-image: url(../img/back/fume.gif);
  background-repeat: no-repeat;
  background-size: cover;
   border: 0.5px #FFFFFF solid !important;
}

.team_trp {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  opacity: 1;
  font-family: kelmscottromanregular !important;
}

.signature {
  	font-size: 95%;
  	font-style: oblique;
  	text-align: right;
  	margin-right: 20%;
}
.icon {
	font-size: 50px;
}
#pang {

  	background-image: url(../img/pang_inc.png);
  	background-repeat: no-repeat;
  	box-sizing: border-box;
  	background-position: right bottom;
}
#tanuki {

  	background-image: url(../img/tanuki.png);
  	background-repeat: no-repeat;
  	box-sizing: border-box;
  	background-position: 0% 0%;
}

#right {

  	background-image: url(../img/back/right.png);
  	background-repeat: no-repeat;
  	box-sizing: border-box;
  	background-position: right;
	height: 100%;
	margin-top: -1px;
	margin-bottom: -1px;
}

#left {

  	background-image: url(../img/back/left.png);
  	background-repeat: no-repeat;
  	box-sizing: border-box;
  	background-position: left;
	height: 100%;
	margin-top: -1px;
	margin-bottom: -1px;
}

#text_modif {
	text-align: center;
	font-size: x-large;
	margin-left: 20%;
	margin-right: 20%;
}
